#wheel {
    transform: rotate(360deg);
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: rotate;
    z-index: 0;

}

.rotator {
    animation-play-state: running;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#wheel-topper {
    z-index: 1;
    position: absolute;
    animation-name: moveOnTop;
    animation-duration: 5s;
    animation-direction: linear;

}

@keyframes moveOnTop {
    from {
        left: 1000px
    }

    to {
        left: 330px;
    }
}

.wheel-copied {
    animation-play-state: running;
    animation-duration: 5s;
    /* animation-delay: 5s; */
    animation-name: display;
    position: absolute;
    left: 250px;
    animation-direction: normal;

}

/* .wheel-copied:hover {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-name: rotateSome;

} */

#my-element {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
}

/* This rule defines the animation for rotating the element */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

/* This rule applies the animation to the element when the 'rotate' class is added */
#my-element.rotate {
    animation: rotate 0.5s ease-in-out;
}

@keyframes rotateSome {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }

}

/* .wheel-copied {
    animation-play-state: running;
}

@keyframes display {
    100% {
        left: 300px
    }
} */


/* @keyframes stayOnTop {
    100% {
        left: 300px;
        animation-play-state: paused;
        position: absolute;
    }
} */

/* .stayLeft {
    position: absolute;
    left: 300px
} */

.flipper-container {
    perspective: 1000px;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative
}

#circle-about {
    position: absolute;
    /* top: 0px;
    left: 29%; */
    width: 150px;
    height: 150px;
    border-radius: 350px;
    background: transparent linear-gradient(180deg, #C6F4FD 0%, #DDFEEA 15%, #FFF7FC 29%, #FFE0FD 47%, #F4E6FF 60%, #DFD5FC 75%, #F0D5FF 90%, #F9E8FE 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    /* src: url('../assets/my-logo-2.png'); */
    /* margin-top: -50px;
    margin-left: -30px; */

}

/* 
.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
} */

/* Set initial opacity to 0 */
.fade-in {
    opacity: 0;
}

/* Transition to full opacity over 1 second */
.fade-in.active {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.bounce-in {
    animation: bounce-in 0.75s;
}

@keyframes bounce-in {
    0% {
        transform: scale(0.1);
        opacity: 0;
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
    }

    100% {
        transform: scale(1);
    }
}