.background {
    position: absolute;
    /* width: 110%; */
    /* top: 0;
    left: 0; */
    /* top: -50px;
    left: -50px;
    right: -50px;
    bottom: -50px; */
    top: -80px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow: hidden;
    height: 1500px;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; */
    /* animation: slideBackground 0s linear infinite; */
}

.circle {
    display: inline-block;
    /* width: 50px;
    height: 50px; */
    margin: 0;
    border-radius: 50%;
    overflow: hidden;
    /* animation: move-right 200s linear infinite; */
    opacity: .9;
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(159, 245, 255, 0.3);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);


    /* add this animation */


}

@keyframes move-right {
    0% {
        transform: translateX(0);
        /* start at 0px from the left */
    }

    100% {
        transform: translateX(100vw);
        /* move to 100% of viewport width */
    }
}

/* @keyframes slideBackground {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-100% + (20px + 0) * 1));
    }
} */