/* .circle-animation {
    position: relative;
    width: 200px;
    height: 200px;
}

.box {
    width: 50px;
    height: 50px;
    background-color: #f00;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box:hover {
    animation-name: circle;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes circle {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0.6);
    }

    50% {
        box-shadow: 0 0 0 50px rgba(255, 0, 0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 0, 0, 0);
    }
} */

/* .circle-container {
  position: relative;
  width: 300px;
  height: 300px;
}

.outer-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #000;
}

.inner-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.red {
  background-color: #f00;
}

.green {
  background-color: #0f0;
}

.blue {
  background-color: #00f;
}

.yellow {
  background-color: #ff0;
}

.inner-circle:hover {
  transform: scale(1.1);
}

.expanded {
  width: 80px;
  height: 80px;
  z-index: 10;
} */

#main-circle {
    position: relative;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    /* background-color: gray; */
    /* background: radial-gradient(50% 50%, #CBDAF5 0%, #FBFFFF 100%); */
    /* background: url('../assets/topper-blue.png'); */
    background-size: cover;
}

.sub-circle {
    /* position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white; */
    /* transition: all 0.5s; */
    transition: background 0.3s ease;

    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* background-color: #fff; */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
    animation: float 3.5s ease-in-out infinite;
    background: radial-gradient(circle at 75% 30%,
            white 5px,
            aqua 8%,
            darkblue 60%,
            aqua 100%);
    box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
        inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
        inset 0 50px 140px #fde9ea, 0 0 90px #fff;


}


@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-80px);
    }

    100% {
        transform: translatey(0px);
    }
}


#sub-circle1 {
    top: 25px;
    left: 25px;
}

#sub-circle2 {
    top: 25px;
    right: 25px;
}

#sub-circle3 {
    bottom: 25px;
    left: 25px;
}

#sub-circle4 {
    bottom: 25px;
    right: 25px;
}

#sub-circle5 {
    bottom: 175px;
    right: 175px;
}

.sub-circle:hover {
    background: radial-gradient(circle at 75% 30%, white 5px, #97e9f6 8%, #b8f2ad 60%, #fba3f5 80%, #f8f8b8 90%);
    border: #FF71E9;
    box-shadow: 0 5px 10px rgba(245, 111, 216, 0.5);

}

.sub-circle:hover .shadow {
    background: radial-gradient(circle at 75% 30%, white 5px, #97e9f6 8%, #b8f2ad 60%, #fba3f5 80%, #f8f8b8 90%);
    border: #FF71E9;
    box-shadow: 0 5px 10px rgba(245, 111, 216, 0.5);
    /* box-shadow: 0 5px 10px rgba(39, 116, 149, 0.5); */

}

.sub-circle.active {
    width: 200px;
    height: 200px;
    background-color: blue;
}

.shadow {
    /* background: #b490b2; */
    background: radial-gradient(50% 50%, #4F5A74 0%, #93A1BA 100%);
    /* background: url('../assets/topper-squished.png'); */
    background-size: cover;
    width: 150px;
    height: 40px;
    top: 70%;
    animation: expand 4s infinite;
    position: absolute;
    border-radius: 50%;
    margin-top: 60px;
    opacity: .3;
}

/* .shadow:hover {
    background: radial-gradient(circle at 75% 30%, white 5px, #97e9f6 8%, #b8f2ad 60%, #fba3f5 80%, #f8f8b8 90%);
} */

@keyframes expand {

    0%,
    100% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(1);
    }
}

.b-icon {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.b-icon img {
    width: 30%;
    height: auto;
    pointer-events: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
}