.header {
  background: #b71775;
  height: 200px;
  z-index: 10;
  position: absolute;
  top: 0px
}

.header h1 {
  margin: 0;
  padding-top: 75px;
  text-align: center;
  color: white;
  font-size: 3rem;
}

.nav {
  position: absolute;
  margin-top: 0px;

}

.navbar-custom {
  background-color: -webkit-linear-gradient(#EFEEF5, #333);
}

/* moving balls */
/* https://codepen.io/luissquall/pen/njqqQL */
#canvas {
  position: relative;
  /* width: 400px;
  height: 400px;
  background: rgb(255, 0, 100); */
}

/* #circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  background: transparent linear-gradient(180deg, #C6F4FD 0%, #DDFEEA 15%, #FFF7FC 29%, #FFE0FD 47%, #F4E6FF 60%, #DFD5FC 75%, #F0D5FF 90%, #F9E8FE 100%) 0% 0% no-repeat padding-box;
  src: url('../assets/my-logo-2.png');
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50px;
} */
#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 200px;
  /* background: transparent linear-gradient(180deg, #C6F4FD 0%, #DDFEEA 15%, #FFF7FC 29%, #FFE0FD 47%, #F4E6FF 60%, #DFD5FC 75%, #F0D5FF 90%, #F9E8FE 100%) 0% 0% no-repeat padding-box; */
  background: transparent white;
  src: url('../assets/my-logo-2.png');
  /* margin-top: -30px;
  margin-left: -30px; */
  border-radius: 50px;
}

.my-logo {
  left: 0px;
  width: 100px;
  height: 100px;
  transition: background 0.3s ease;

  /* width: 150px;
  height: 150px; */
  border-radius: 50%;
  /* background-color: #fff; */
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  animation: float 5s ease-in-out infinite;
  background: radial-gradient(circle at 75% 30%,
      white 5px,
      rgb(181, 251, 254) 8%,
      rgb(245, 240, 245) 60%,
      rgb(196, 251, 251) 100%);
  /* background: #FBFFFF; */
  box-shadow: inset 0 0 20px #fff, inset 10px 0 46px #eaf5fc,
    inset 88px 0px 60px #c2d8fe, inset -20px -60px 100px #fde9ea,
    inset 0 50px 140px #fde9ea, 0 0 90px #fff;
}

.my-logo:hover+.shadow {
  background: radial-gradient(circle at 75% 30%, white 5px, #97e9f6 8%, #b8f2ad 60%, #fba3f5 80%, #f8f8b8 90%);
  border: #FF71E9;
  box-shadow: 0 5px 10px rgba(245, 111, 216, 0.5);
}

/* .my-logo {
  left: 0px;
  width: 100px;
  height: 100px;
} */

.shadow {
  /* background: #b490b2; */
  background: radial-gradient(50% 50%, #4F5A74 0%, #93A1BA 100%);
  /* background: url('../assets/topper-squished.png'); */
  /* background-size: cover; */
  width: 75px;
  height: 40px;
  left: -25px;
  /* top: 70%; */
  animation: expand 4s infinite;
  position: absolute;
  border-radius: 50%;
  /* margin-top: 100px; */
  /* top: 300px; */
  opacity: .2;
  position: absolute;
}

.ball {
  position: absolute;
  top: 100px;
  left: 600px;
  width: 10px;
  height: 10px;
  background: linear-gradient(217deg, rgba(207, 255, 255, 0.8), rgba(255, 255, 251, 0) 70.71%), linear-gradient(127deg, rgb(233, 255, 212), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(237, 220, 250, 0.8), rgb(0, 255, 127, 0) 70.71%);
  border-radius: 10px;
  transition-property: left, top;
  transition-duration: 1s;
  text-align: center;
  font-size: 12px;
  color: #BEBCCC;
  line-height: 32px;
}

#ball-1 {
  z-index: 1;
  transform: scale(2.0);
  transition: all ease 1s;
}


#circle:hover #ball-1 {
  left: 600px;
  top: 0px;
  transition-timing-function: ease;
}

#circle:hover #ball-2 {
  left: 400px;
  top: 50px;
  background: linear-gradient(to right, #EFEEF5, #FCFCFC, #EFEEF6);
  transition-timing-function: linear;
}

#circle:hover #ball-3 {
  left: 500px;
  top: 50px;
  background: linear-gradient(to right, #EFEEF5, #FCFCFC, #EFEEF6);
  transition-timing-function: ease-in;
}

#circle:hover #ball-4 {
  left: 700px;
  top: 50px;
  background: linear-gradient(to right, #EFEEF5, #FCFCFC, #EFEEF6);
  transition-timing-function: ease-out;
}

#circle:hover #ball-5 {
  left: 800px;
  top: 50px;
  background: linear-gradient(to right, #EFEEF5, #FCFCFC, #EFEEF6);
  transition-timing-function: ease-in-out;
}

/* #circle:hover #ball-6 {
  left: 900px;
  top: 50px;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
} */