.carousel-container {
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.carousel img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.tumble-btn:hover {
    background: #61D2FA;
}