.bubble {
    /* position: absolute; */
    /* top: 500px;
    left: 500px;
    width: 150px;
    height: 150px; */

    /* background: transparent conic-gradient(from 90deg at 50% 50%, #5DB7EB 0.00%, #B3B8EB 7.77%, #7FAEDC 19.25%, #B3AFFA 26.87%, #FECAFD 37.45%, #509ACC 44.42%, #4DB2E1 50.83%, #B0E7F2 59.83%, #3593C0 67.41%, #6B90BA 74.06%, #B494C1 81.83%, #3BC8EA 90.78%, #4BD3F3 100.00%) 0% 0% no-repeat padding-box; */
    /* box-shadow: 0px 3px 6px #00000029; */
    /* opacity: 1; */
    /* border-radius: 100px; */
    transition-property: left, top;
    transition-duration: 1s;
    /* text-align: center; */
    /* font-size: 12px; */
    /* color: whitesmoke; */
    /* line-height: 20px; */
    /* opacity: .61; */
}


/* .bubble img { */
/* width: 150px; */
/* border-radius: 100px; */
/* opacity: 1; */
/* margin-top: 10px; */
/* backdrop-filter: blue(5px); */
/* } */

/* .bubble img:hover {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }

} */

.bubbleTop:hover,
.bubbleTopWhiteBlue:hover,
.bubbleTopYellow:hover,
.bubbleTopOrange:hover,
.bubbleTopOrangeBlue:hover,
.bubbleTopGoldPurple:hover,
.bubbleTopLightBlue:hover,
.bubbleTopDarkBlue:hover,
.bubbleTopLightGreen:hover,
.bubbleTopMediumGreen:hover,
.bubbleTopBlueGreen:hover,
.bubbleTopPinkPurple:hover,
.bubbleTopPinkPurpleDull:hover,
.bubbleTopPinkPurpleLight:hover,
.bubbleTopBrownBlue:hover {
    animation-name: blink;
    animation-duration: 9s;
    animation-iteration-count: infinite;
}

@keyframes blink {
    0% {
        opacity: .71;
    }

    25% {
        opacity: .21;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }

}

/* Blog for Tech bubble's top layer */
.bubbleTop {
    /* position: absolute; */
    /* top: 500px;
    left: 500px;
    width: 150px;
    height: 150px; */
    /* border-radius: 100px; */
    background: transparent linear-gradient(180deg, #D5E9F6 0%, #DDE8F4 8%, #F9EBF2 16%, #E0E9F6 19%, #F6ECF6 27%, #EFE7F2 37%, #DAE6F0 44%, #EAEAF9 51%, #DDE4EF 57%, #D6E4ED 65%, #D9FEFE 74%, #FBE9F4 82%, #DAE4ED 91%, #D7E3EC 100%) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);

    /* opacity: 0.71; */
    /* text-align: center; */
    /* animation-name: blink;
    animation-duration: 2s; */

}

.bubbleTopWhiteBlue {
    background: transparent linear-gradient(180deg, #7CB3D7 0%, #D7DBE6 14%, #B3CBDB 24%, #E5DEE7 34%, #F8F8F9 47%, #E9E0E8 65%, #C7C1C5 79%, #81B6D8 100%) 0% 0% no-repeat padding-box;
}

/* Etiquette bubble's top layer */
.bubbleTopYellow {
    /* position: absolute; */
    /* top: 500px;
    left: 500px;
    width: 150px;
    height: 150px; */
    /* border-radius: 100px; */
    /* background: transparent conic-gradient(from 90deg at 33% 28%, #FFFFFF 0.00%, #FEFDE9 7.77%, #F5F4E2 13.30%, #FEFDE9 19.25%, #FEFDE9 26.87%, #FDFDFD 37.45%, #FFFDEA 44.42%, #FAFAF4 50.83%, #F5F4DF 57.41%, #F5F3DF 65.19%, #F7F6EA 74.06%, #FEFDE7 81.83%, #FDF4D0 90.78%, #FFF5DD 100.00%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(180deg, #FFF7DB 0%, #F3DE84 23%, #F4CC69 34%, #F4E9BE 46%, #F6CB62 62%, #F6E49A 78%, #F6DE94 88%, #FFFDF5 100%) 0% 0% no-repeat padding-box;
    -webkit-backdrop-filter: blur(3px);
    /* opacity: 0.71; */
    /* text-align: center; */
    /* animation-name: blink;
    animation-duration: 2s; */

}

.bubbleTopOrange {
    background: transparent linear-gradient(180deg, #E4632A 0%, #EBA73B 23%, #EFBF41 34%, #F89468 46%, #EBA63A 58%, #FDE37B 73%, #F3D76A 86%, #F5DA5F 100%) 0% 0% no-repeat padding-box;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
}

.bubbleTopOrangeBlue {
    /* background: transparent conic-gradient(from 134deg at 35% 30%, #DB7450 0.00%, #ECEEED 25.70%, #9196BF 47.37%, #546F9F 71.92%, #DB7350 100.00%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(147deg, #D6765B 0%, #245786 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopGoldPurple {
    /* background: transparent conic-gradient(from 134deg at 42% 29%, #58284F 0.00%, #DBA04D 18.23%, #E89335 33.99%, #662250 47.37%, #6A455F 71.92%, #010128 100.00%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(180deg, #010128 0%, #692659 46%, #E3B863 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopLightBlue {
    /* background: transparent conic-gradient(from 134deg at 42% 29%, #8CBBD1 0.00%, #D7DBE6 13.71%, #B3CBDB 23.92%, #E5DEE7 33.99%, #F8F8F9 47.37%, #E9E0E8 65.02%, #C7C1C5 79.31%, #A7C3DB 100.00%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(180deg, #F7F8FA 0%, #D7D5E4 46%, #8DBBD1 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopDarkBlue {
    background: transparent linear-gradient(0deg, #4188B8 0%, #FFFFFF 44%, #6E98B3 76%, #4D565D 93%, #7E7E7E 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopLightGreen {
    /* background: transparent conic-gradient(from 90deg at 50% 50%, #EFEEF5 0.00%, #FFFFFF 50.25%, #A1DBCE 100.00%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(180deg, #80FDD8 0%, #84D1BB 9%, #BFF0E2 21%, #E9EAEA 46%, #7FB2A3 73%, #69B6A0 88%, #90FFDE 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopMediumGreen {
    background: transparent linear-gradient(180deg, #4CA558 0%, #4CA558 9%, #4CA558 21%, #E9EAEA 46%, #7FB2A3 73%, #4CA558 88%, #90FFDE 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopBlueGreen {
    background: transparent linear-gradient(180deg, #90DB82 0%, #4EABD1 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopPinkPurple {
    background: transparent linear-gradient(180deg, #D4A1CF 0%, #A67FDD 12%, #8E50CD 27%, #B34693 45%, #B94A9F 63%, #CD628C 76%, #D890B2 89%, #D291AD 100%) 0% 0% no-repeat padding-box;
    /* background: transparent linear-gradient(180deg, #DC93AF 0%, #A34FC9 100%) 0% 0% no-repeat padding-box; */
}

.bubbleTopPinkPurpleDull {
    /* background: transparent linear-gradient(180deg, #ED8584 0%, #C67683 13%, #B67F9D 28%, #B796C4 44%, #A18DC2 60%, #9498DE 73%, #9596DA 90%, #CCCCFF 100%) 0% 0% no-repeat padding-box; */
    background: transparent linear-gradient(180deg, #FF9493 0%, #D36F6E 19%, #9695D8 76%, #AFB0FF 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopPinkPurpleLight {
    background: transparent linear-gradient(180deg, #F8D5FC 0%, #CBDEFC 100%) 0% 0% no-repeat padding-box;
}

.bubbleTopBrownBlue {
    background: transparent linear-gradient(180deg, #DCDDDF 0%, #5498EA 52%, #FFC495 100%) 0% 0% no-repeat padding-box;

}

.show-element {
    display: block
}

.hide-element {
    display: none;
}

/* #threeD:hover {
    animation-duration: 20s;
    animation-iteration-count: 2;
    animation-play-state: running;
    animation-name: threeDrotate;
}

@keyframes threeDrotate {
    from {
        transform: rotate3d(0deg);
    }

    to {
        transform: rotate3d(360deg);
    }
} */

.exitBtn {
    margin-top: 100px;
    border-radius: 50px;
}